.M-border-box-1 {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  padding: 10px 15px;
  border: 1px solid #1070aa;
  position: relative;
  p.title {
    font-size: 12px;
    color: #fff;
  }
  .for-b {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  &:before,
  &:after,
  .for-b:before,
  .for-b:after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border: 1px solid #00deff;
    opacity: 0.8;
    box-shadow: 0 0 5px #00deff;
  }
  &:before,
  .for-b:before {
    left: -2px;
    top: -2px;
  }
  &:after,
  .for-b:after {
    right: -2px;
    top: -2px;
  }
}

.M-tit {
  $header-height: 35px;

  display: flex;
  align-items: flex-end;
  margin: 0 5px;
  height: $header-height;
  span {
    position: relative;
    &::before {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("/public/images/line1.png") no-repeat bottom right;
      background-blend-mode: multiply;
      opacity: 0.5;
    }
    cursor: default;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    padding: 0 20px 8px 10px;
  }
  p {
    background: url("/public/images/line2.png") no-repeat bottom right;
    flex-grow: 1;
    height: 13px;
    margin-bottom: 5px;
    opacity: 0.5;
  }
  & ~ .M-cont {
    z-index: 1;
    margin-top: 5px;
    position: relative;
    overflow-y: hidden;
    height: calc(100% - $header-height);
  }
}
